# Ignore Helm chart caches and unpacked charts
components/**/charts/
components/**/charts/*

# Ignore any *.tgz helm chart archives if present
components/**/*.tgz



# Ignore common OS files
.DS_Store
Thumbs.db

# Ignore editor files (VSCode, IntelliJ, etc.)
.vscode/
.idea/
*.swp
